<div class="container">
  <div class="row">
      <form >
    <div class="form-group">
      <label for="exampleInputEmail1">url servivicio</label>
      <input [(ngModel)]="url" name="url" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="urlhelp" placeholder="enter url">
      <small id="urlhelp" class="form-text text-muted">ej http://miservicio.com/token</small>
    </div>
    <div class="form-group">
      <label for="tipo">Tipo</label>
    <select [(ngModel)]="tipo" class="form-control" id="tipo" name="tipo">
      <option>POST</option>
      <option>GET</option>
      <option>OPTION</option>
      <option>DELETE</option>
      <option>PUT</option>
    </select>
    </div>
    <div class="form-group">
      <label for="body">cuerpo</label>
      <textarea [(ngModel)]="body" name="body" class="form-control" id="body" rows="3"></textarea>
    </div>

    <button type="button" (click)="obtenerResultado()" class="btn btn-primary mb-2">Enviar</button>
    <hr>
    <div *ngIf="resultado" >
        <div  *ngIf="estado" class="alert alert-success" role="alert">
            Respuesta correcta
          </div>
          <div  *ngIf="!estado" class="alert alert-danger" role="alert">
             ocurrio un error
            </div>
    </div>

    <div class="form-group">
      <label for="body">result:</label>
      <textarea [(ngModel)]="resultado" name="resultado" class="form-control" id="resul" rows="3"></textarea>
    </div>
    </form>
  </div>
</div>